* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: "Montserrat, Courgette", sans-serif;
  font-size: 16px; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

header {
  background: url("chamoimg/chamogaleria/fondo.jpg") #FA7E0A;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px; }
  header .menu {
    background: red;
    padding: 15px;
    text-align: right; }
    header .menu a {
      margin: 0 20px;
      color: #fff;
      display: inline-block;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 700; }
    header .menu a:hover {
      color: black; }
  header .contenedor-texto .slogan {
    font-family: Courgette;
    font-size: 3em;
    color: #fff;
    text-align: center; }
  header .contenedor-texto .ags {
    font-family: Courgette;
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
    text-align: center; }

.main .contenedor {
  overflow: visible; }
.main .nuestra-empresa {
  text-align: center; }
.main .logo {
  margin-top: -60px; }
.main .productos {
  background: #f2f2f2;
  padding: 60px 0; }
  .main .productos .contenedor {
    overflow: hidden; }
.main .titulo {
  font-family: Montserrat;
  font-size: 2em;
  line-height: 34px;
  margin-bottom: 40px;
  color: #ccc;
  font-weight: 400;
  text-align: center; }
.main .contenedor-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
.main .producto {
  width: 32%;
  margin-bottom: 40px; }
.main .imagen {
  width: 100%;
  margin-bottom: 10px; }
.main .imagen img {
  width: 100%;
  vertical-align: top;
  border-radius: 20px; }
.main .descripcion {
  text-align: center; }
.main .nombre {
  font-family: Montserrat;
  font-size: 1.2em;
  font-weight: 400;
  color: #3589ae;
  margin-bottom: 10px; }
.main .presentacion {
  font-family: Montserrat;
  font-size: 1em;
  font-weight: 400;
  color: #FA7E0A; }

footer .contacto {
  background: #f9f9f9;
  padding: 60px; }
footer .titulo {
  font-family: Montserrat;
  font-size: 1.5em;
  line-height: 34px;
  margin-bottom: 40px;
  color: #3895ea;
  font-weight: 400;
  text-align: center; }
footer .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
footer input[type="text"],
footer input[type="email"],
footer textarea {
  border: 3px solid #cecece;
  border-radius: 7px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4; }
footer input[type="text"]:focus,
footer input[type="email"]:focus,
footer textarea:focus {
  border-radius: 7px;
  border: 2px solid #FA7E0A; }
footer input[type="text"],
footer input[type="email"] {
  width: 40%;
  margin-bottom: 15px; }
footer textarea {
  width: 100%;
  height: 100px;
  width: 100%;
  height: 300px;
  margin-bottom: 15px; }
footer .boton {
  background: #FA7E0A;
  margin: auto;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer; }
footer .boton:hover {
  background: #FA0000; }
footer .redes {
  background: #FA7E0A;
  padding: 40px 0; }
footer .redes .contenedor {
  display: flex;
  justify-content: center; }
  footer .redes .contenedor a {
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 30px;
    margin: 0 20px; }
  footer .redes .contenedor .twitter:hover {
    background: #1da1f2; }
  footer .redes .contenedor .facebook:hover {
    background: #3b5998; }
  footer .redes .contenedor .youtube:hover {
    background: #ff0000; }

@media screen and (width: 800px) {
  header {
    text-align: center; }

  .menu {
    width: 46%; } }
@media screen and (width: 400px) {
  header .nombre {
    font-size: 30px; }
  header .presentacion {
    font-size: 10px; }

  footer .contenedor {
    flex-wrap: wrap;
    padding: 20px 0; } }

/*# sourceMappingURL=CHACHU.css.map */
